<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:MM:ss.SSS} [%thread] %-5level %logger{36} -%msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="fileLog" class="ch.qos.logback.core.FileAppender">
        <file>
            journalApp.log
        </file>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:MM:ss.SSS} [%thread] %-5level %logger{36} -%msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="fileLogRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>journalApp-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:MM:ss.SSS} [%thread] %-5level %logger{36} -%msg %n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileLog"/>
        <appender-ref ref="fileLogRolling"/>
    </root>
</configuration>